---
alertmanager:
  logLevel: info
prometheus:
  prometheusSpec:
    scrapeConfigSelector:
      matchLabels:
        prometheus: system-monitoring-prometheus
    storageSpec:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 150Gi
