# Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/
venv/
.env
.pytest_cache/
htmlcov/
.tox/
.mypy_cache/
.ipynb_checkpoints/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override_*.tf
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# macOS
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
# Spotlight files
.Spotlight-V100
# Temporary files
.Trashes
Icon?
# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.xcscmblueprint
.xcscmblueprint
*.xccheckout
# Finder
.localized

# Linux
# Temporary files
*~
.#*
*.swp
*.bak
*.tmp

#RMPK specific
.bin/
id_rsa
id_rsa.pub
kubeconfig.yaml
ca.crt
ca.key
kubespray/
ansible-hardening/
.python-version
credentials/
