apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
    - ../../../global/enterprise/source.yaml
patches:
    - target:
        kind: HelmRepository
        name: grafana
      patch: |-
        $patch: delete
        apiVersion: source.toolkit.fluxcd.io/v1
        kind: HelmRepository
        metadata:
          name: grafana
    - target:
        group: helm.toolkit.fluxcd.io
        version: v2
        kind: HelmRelease
        name: loki
      patch: |-
        - op: replace
          path: /spec/chart/spec/sourceRef/name
          value: opencenter-cloud
secretGenerator:
    - name: loki-values-enterprise
      namespace: observability
      type: Opaque
      files:
        - hardened-enterprise.yaml=./helm-values/hardened-values-v6.45.2.yaml
      options:
        disableNameSuffixHash: true
