---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - "../namespace.yaml"
  # - "../crds/csinodetopology-crd.yaml"
  # - "../crds/cnsvolumeoperationrequest-crd.yaml"
  #- "../crds/csistoragecapacity-crd.yaml"
  - "../helmrelease.yaml"
  - "../../global/enterprise/source.yaml"
patches:
  - path: patch-helmrelease-source.yaml
    target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      name: vsphere-csi
      namespace: vmware-system-csi
secretGenerator:
  - name: vsphere-csi-values-base
    namespace: vmware-system-csi
    type: Opaque
    files:
      - values.yaml=../helm-values/values-3.8.1.yaml
    options:
      disableNameSuffixHash: true
  - name: vsphere-csi-values-enterprise
    namespace: vmware-system-csi
    type: Opaque
    files:
      - hardened-enterprise.yaml=./helm-values/hardened-values-3.8.1.yaml
    options:
      disableNameSuffixHash: true
