apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
    - ../../../global/enterprise/source.yaml
patches:
    - target:
        kind: HelmRepository
        name: vsphere-tmm
      patch: |-
        $patch: delete
        apiVersion: source.toolkit.fluxcd.io/v1
        kind: HelmRepository
        metadata:
          name: vsphere-tmm
    - target:
        group: helm.toolkit.fluxcd.io
        version: v2
        kind: HelmRelease
        name: vsphere-csi
      patch: |-
        - op: replace
          path: /spec/chart/spec/sourceRef/name
          value: opencenter-cloud
secretGenerator:
    - name: vsphere-csi-values-enterprise
      namespace: vmware-system-csi
      type: Opaque
      files:
        - hardened-enterprise.yaml=../../enterprise/helm-values/hardened-values-3.8.1.yaml
      options:
        disableNameSuffixHash: true
