apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
  - namespace.yaml
  - helmrelease.yaml
configMapGenerator:
  - name: cert-manager-values
    files:
      - "helm-values/hardened_values_v1.18.2.yaml"
      - "helm-values/override_values.yaml"
    options:
      disableNameSuffixHash: true
